body {
    background-color: #FBF8F1;
    font-family: 'Poiret One', cursive;
}

.navbar-nav {
    text-transform: uppercase;
}

        /* HEADING */

.head {
    text-shadow: 2px 3px 7px white;
    font-size: 80px;
}

        /* CHOOSING */ 

.grid-cont {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
}

.image {
    position: relative;
    border-radius: 1%;
    box-shadow: 3px 3px 12px 3px #D0C9C0;
    background-color: white;
}

.title {
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 50px;
}


        /* SHOES */

.card-title, .price {
    font-size: 20px;
}

.card-text {
    font-size: 16px;
}

.dropdown-toggle {
    font-size: 15px;
}

        /* RULES */

#myvideo {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.rules {
    font-size: 48px;
    align-items: center;
}

.rule {
    font-size: 25px;
    list-style-position: inside;
    align-items: center;
}

.rule, .rules {
    text-shadow: 2px 3px 7px black;
}

.head, .btnn {
    font-weight: bolder;
}

.head, .rules, .rule {
    padding-left: 2%;
    padding-right: 2%;
} 

.tvideo {
    height: 760px;
}

        /* CARE */

.size {
    font-size: 25px;
}

.t-size {
    font-size: 19px;
}

        /* SUBSCRIBE */

.btnn {
    font-size: 60px;
}

        /* SOCIAL */

.top {
    border-top: 6px solid #0AA1DD;
    border-bottom: 6px solid #EC994B;
}

.top, .justify-content-evenly {
    align-items: center;
}

.social {
    width: 35px;
    height: 35px;
}

        /* FOOTER */

.footer {
    display: flex;
    justify-content: space-around;
}

.element {
    display: flex;
    flex-direction: column;
}

.point {
    color: white;
    text-decoration: none;
}

.point:hover {
    color: #0AA1DD;
}

.contact {
    list-style-type: none;
}

.btn-outline {
    border-color: #0AA1DD;
    color: #0AA1DD;
}

.btn-outline:hover {
    background-color: #0AA1DD;
}

        /* AUTHOR */

.made {
    color: #0AA1DD;
}

.made:hover {
    color: #EC994B;
}

.line {
    color: transparent
}

                    /* АДАПТАЦИЯ */

@media all and (max-width: 1500px) {
    /* HEADING */
    .head {
        font-size: 60px;
    }

    /* RULES */
    .rules {
        font-size: 40px;
    }
    .rule {
        font-size: 22px;
    }
}

@media all and (max-width: 1400px) {
    /* SUBSCRIBE */
    .btnn {
        font-size: 50px;
    }

    /* RULES */
    .tvideo {
        height: 610px;
    }
}

@media all and (max-width: 1200px) {
    /* HEADING */
    .head {
        font-size: 50px;
    }

      /* RULES */
    .rules {
        font-size: 32px;
    }
    .tvideo {
        height: 506px;
    }

    /* SUBSCRIBE */
    .btnn {
        font-size: 40px;
    }
}


@media all and (max-width: 1000px) {
    /* HEADING */
    .head, .men {
        font-size: 40px;
    }

    /* CHOOSING */
    .title {
        font-size: 40px;
        top: 8%;
    }

    /* RULES */
    .tvideo {
        height: 426px;
    }

    /* SUBSCRIBE */
    .btnn {
        font-size: 28px;
    }    
}

@media all and (max-width: 860px) {
    /* RULES */
    .tvideo {
        height: 350px;
    }

    /* CARE */
    #care {
        font-size: 37px;
    }
    .size {
        font-size: 22px;
    }
    .t-size {
        font-size: 16px;
    }

}

@media all and (max-width: 800px) {
    /* HEADING */
    .head, .men, .rules {
        font-size: 30px;
    }

    /* CHOOSING */
    .grid-cont {
        grid-column-gap: 8px;
    }
    .title {
        font-size: 30px;
        top: 5%;
    }

    /* RULES */
    .tvideo {
        height: 310px;
    }
    .rule {
        font-size: 21px;
    }

    /* SOCIAL */
    .top {
        border-top: 4px solid #0AA1DD;
        border-bottom: 4px solid #EC994B;
    }
    .social {
        width: 30px;
        height: 30px;
    }
}

@media all and (max-width: 718px) {
    /* RULES */
    .tvideo {
        height: 245px;
    }

    /* CARE */
    #care {
        font-size: 32px;
    }
    .size {
        font-size: 20px;
    }
    .t-size {
        font-size: 15px;
    }

    /* SUBSCRIBE */
    .btnn {
        font-size: 18px;
    }

    /* FOOTER */
    .footer {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer, .element, .space {
        align-items: center;
    }
    .space {
        margin: 0;
        padding: 0;
    }
}

@media all and (max-width: 600px) {
    /* CHOOSING */
    .title {
        font-size: 25px;
    }

    /* SHOES */
    .card-title, .price {
        font-size: 17px;
    }
    .card-text, .dropdown-toggle {
        font-size: 13px;
    }

    /* RULES */
    .tvideo {
        height: 205px;
    }
    .rules {
        font-size: 24px;
    }

    /* SOCIAL */
    .social {
        width: 25px;
        height: 25px;
    }
}

@media all and (max-width: 509px) {
    /* SHOES */
    .card-title, .price {
        font-size: 15px;
    }
    .card-text {
        font-size: 12px;
    }
    /* RULES */
    .rule {
        font-size: 20px;
    }
    .tvideo {
        height: 200px;
    }

    /* SUBSCRIBE */
    .btnn {
        font-size: 14px;
    }

    /* SOCIAL */
    .social {
        width: 20px;
        height: 20px;
    }
}

@media all and (max-width: 467px) {
    /* CHOOSING */
    .title {
        font-size: 22px;
    }

    /* SHOES */
    .card-title, .price {
        font-size: 13px;
    }
    .card-text {
        font-size: 10px;
    }
    .dropdown-toggle {
        font-size: 10px;
    }

    /* RULES */
    .tvideo {
        height: 163px;
    }
    .rules {
        font-size: 22px;
    }
    .rule {
        font-size: 18px;
    }
}
